In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import pyarrow.parquet as pq
import geojson
import plotly.express as px
import plotly.io as pio
import json

In [2]:
def load_trips(list):
    df = pd.DataFrame()
    for month in list:
        print(month)
        trips = pq.read_table(f'data/yellow_tripdata_2022-{month:02}.parquet')
        trips_df = trips.to_pandas()
        # Append data
        df = pd.concat((df, trips_df), ignore_index=True)# df.concat(trips_df, ignore_index=True)

    return df
list = range(1,13)
df = load_trips(list)
#df.to_csv('data/yellow_tripdata_combined.csv')
#df = pd.read_csv('data/yellow_tripdata_combined.csv')
print(df.shape)

1
2
3
4
5
6
7
8
9
10
11
12
(39656098, 19)

In [3]:
df["pickup_at"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["dropoff_at"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [4]:
df["duration"] = (df["dropoff_at"] - df["pickup_at"]).dt.total_seconds()

In [5]:
print(df.columns)

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee', 'pickup_at',
       'dropoff_at', 'duration'],
      dtype='object')

In [6]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
count,3.965610e+07,3.828780e+07,3.965610e+07,3.828780e+07,3.965610e+07,3.965610e+07,3.965610e+07,3.965610e+07,3.965610e+07,3.965610e+07,3.965610e+07,3.965610e+07,3.965610e+07,3.965610e+07,3.828780e+07,3.828780e+07,3.965610e+07
mean,1.721802e+00,1.401149e+00,5.959399e+00,1.424172e+00,1.648660e+02,1.625752e+02,1.189550e+00,1.036282e+01,1.007532e+00,4.888064e-01,7.234908e+00,5.362827e-01,3.161243e-01,2.167127e+01,2.281437e+00,9.741937e-02,3.209844e+03
std,4.805267e-01,9.628938e-01,5.991907e+02,5.794343e+00,6.531082e+01,7.023146e+01,5.190411e-01,2.232830e+04,1.262564e+00,9.380395e-02,2.232808e+04,2.043351e+00,1.293323e-01,9.637360e+01,7.519435e-01,3.385391e-01,1.159487e+06
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-1.333914e+08,-2.218000e+01,-5.500000e-01,-4.100000e+02,-9.999000e+01,-1.000000e+00,-2.567800e+03,-2.500000e+00,-1.250000e+00,-4.305596e+06
25%,1.000000e+00,1.000000e+00,1.100000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,7.000000e+00,0.000000e+00,5.000000e-01,9.300000e-01,0.000000e+00,3.000000e-01,1.230000e+01,2.500000e+00,0.000000e+00,4.460000e+02
50%,2.000000e+00,1.000000e+00,1.900000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.050000e+01,5.000000e-01,5.000000e-01,2.160000e+00,0.000000e+00,3.000000e-01,1.596000e+01,2.500000e+00,0.000000e+00,7.360000e+02
75%,2.000000e+00,1.000000e+00,3.560000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,1.650000e+01,2.500000e+00,5.000000e-01,3.360000e+00,0.000000e+00,3.000000e-01,2.316000e+01,2.500000e+00,0.000000e+00,1.194000e+03
max,6.000000e+00,9.000000e+00,3.896785e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,4.010923e+05,3.350000e+01,2.548000e+01,1.333914e+08,9.118700e+02,1.000000e+00,4.010956e+05,2.750000e+00,1.250000e+00,6.193233e+08

In [7]:
df = df.dropna()
print(df.shape)

(38287795, 22)

In [8]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
count,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07,3.828780e+07
mean,1.713156e+00,1.401149e+00,3.514399e+00,1.424172e+00,1.649293e+02,1.628563e+02,1.232061e+00,1.462763e+01,1.040985e+00,4.885367e-01,2.713900e+00,5.310589e-01,3.160877e-01,2.142373e+01,2.281437e+00,9.741937e-02,3.281145e+03
std,4.522879e-01,9.628938e-01,5.643246e+01,5.794343e+00,6.494462e+01,7.015708e+01,4.760829e-01,9.743135e+01,1.271069e+00,9.508469e-02,3.288837e+00,2.031171e+00,1.299794e-01,9.801355e+01,7.519435e-01,3.385391e-01,1.180023e+06
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-2.564000e+03,-2.218000e+01,-5.500000e-01,-4.100000e+02,-9.999000e+01,-1.000000e+00,-2.567800e+03,-2.500000e+00,-1.250000e+00,-4.305596e+06
25%,1.000000e+00,1.000000e+00,1.100000e+00,1.000000e+00,1.320000e+02,1.130000e+02,1.000000e+00,7.000000e+00,0.000000e+00,5.000000e-01,7.000000e-01,0.000000e+00,3.000000e-01,1.230000e+01,2.500000e+00,0.000000e+00,4.410000e+02
50%,2.000000e+00,1.000000e+00,1.860000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.000000e+01,5.000000e-01,5.000000e-01,2.150000e+00,0.000000e+00,3.000000e-01,1.595000e+01,2.500000e+00,0.000000e+00,7.280000e+02
75%,2.000000e+00,1.000000e+00,3.490000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,1.600000e+01,2.500000e+00,5.000000e-01,3.350000e+00,0.000000e+00,3.000000e-01,2.277000e+01,2.500000e+00,0.000000e+00,1.180000e+03
max,2.000000e+00,9.000000e+00,1.843408e+05,9.900000e+01,2.650000e+02,2.650000e+02,5.000000e+00,4.010923e+05,3.350000e+01,2.548000e+01,1.400160e+03,9.118700e+02,1.000000e+00,4.010956e+05,2.750000e+00,1.250000e+00,6.193233e+08

In [9]:
def remove_outliers(df, attribute, min = None, max = None, include_min = True, include_max = True):
    if min is not None:
        if include_min:
            df = df[df[attribute]>=min]
        else:
            df = df[df[attribute]>min]
    if max is not None:
        if include_max:
            df = df[df[attribute]<=max]
        else:
            df = df[df[attribute]<max]
    return df

In [10]:
df = remove_outliers(df, "duration", min = 60, max = 10800)

In [11]:
df = remove_outliers(df, "passenger_count", max = 6)

In [12]:
df = remove_outliers(df, "trip_distance", min = 0, max = 100, include_min = False)

In [13]:
df = remove_outliers(df, "RatecodeID", min = 1, max = 6)

In [14]:
df = remove_outliers(df, "payment_type", min = 1, max = 2)

In [15]:
df = remove_outliers(df, "fare_amount", min = 2.5, max = 250, include_min = False)

In [16]:
df = remove_outliers(df, "extra", min = 0)

In [17]:
df = remove_outliers(df, "mta_tax", min = 0)

In [18]:
df = remove_outliers(df, "tip_amount", min = 0, max = 125)

In [19]:
df = remove_outliers(df, "tolls_amount", min = 0, max = 100)

In [20]:
df = remove_outliers(df, "improvement_surcharge", min = 0)

In [21]:
df = remove_outliers(df, "total_amount", min = 2.5, max = 1000, include_min=False)

In [22]:
df = remove_outliers(df, "congestion_surcharge", min = 0)

In [23]:
df = remove_outliers(df, "airport_fee", min = 0)

In [24]:
df.shape

(37067652, 22)

In [25]:
df.to_csv('data/yellow_tripdata_combined_cleaned.csv')

In [27]:
focus = ['trip_distance','PULocationID', 'DOLocationID','fare_amount',
         'tip_amount','total_amount','pickup_at', 'dropoff_at','duration']
df_focus = df[focus]

df_focus.to_csv('data/yellow_tripdata_combined_cleaned_focus.csv')

In [39]:
df_weather = pd.read_csv('data/weather_daily.csv',index_col=False)
df_weather['time'] = pd.to_datetime(df_weather['time'])

In [41]:
df_weather['rain'] = df_weather['precipitation_sum (mm)']>1
print(sum(df_weather['rain']))

120

In [42]:
df_focus.loc[:,'rain'] = False
for i in range(len(df_weather)):
    day = df_weather.loc[i,'time']
    rain = df_weather.loc[i,'rain']
    print(day)
    if rain:
        print('its raining')
        df_focus.loc[:,'rain'] += (df_focus['pickup_at'].dt.date == day.date())

2022-01-01 00:00:00
its raining
2022-01-02 00:00:00
its raining
2022-01-03 00:00:00
its raining
2022-01-04 00:00:00
2022-01-05 00:00:00
its raining
2022-01-06 00:00:00
2022-01-07 00:00:00
its raining
2022-01-08 00:00:00
2022-01-09 00:00:00
its raining
2022-01-10 00:00:00
2022-01-11 00:00:00
2022-01-12 00:00:00
2022-01-13 00:00:00
2022-01-14 00:00:00
2022-01-15 00:00:00
2022-01-16 00:00:00
its raining
2022-01-17 00:00:00
its raining
2022-01-18 00:00:00
2022-01-19 00:00:00
2022-01-20 00:00:00
its raining
2022-01-21 00:00:00
2022-01-22 00:00:00
2022-01-23 00:00:00
2022-01-24 00:00:00
2022-01-25 00:00:00
2022-01-26 00:00:00
2022-01-27 00:00:00
2022-01-28 00:00:00
its raining
2022-01-29 00:00:00
its raining
2022-01-30 00:00:00
2022-01-31 00:00:00
2022-02-01 00:00:00
2022-02-02 00:00:00
2022-02-03 00:00:00
its raining
2022-02-04 00:00:00
its raining
2022-02-05 00:00:00
2022-02-06 00:00:00
2022-02-07 00:00:00
its raining
2022-02-08 00:00:00
its raining
2022-02-09 00:00:00
2022-02-10 00:00:00
2022-02-11 00:00:00
2022-02-12 00:00:00
2022-02-13 00:00:00
its raining
2022-02-14 00:00:00
2022-02-15 00:00:00
2022-02-16 00:00:00
2022-02-17 00:00:00
2022-02-18 00:00:00
its raining
2022-02-19 00:00:00
2022-02-20 00:00:00
2022-02-21 00:00:00
2022-02-22 00:00:00
its raining
2022-02-23 00:00:00
2022-02-24 00:00:00
2022-02-25 00:00:00
its raining
2022-02-26 00:00:00
2022-02-27 00:00:00
2022-02-28 00:00:00
2022-03-01 00:00:00
2022-03-02 00:00:00
2022-03-03 00:00:00
its raining
2022-03-04 00:00:00
2022-03-05 00:00:00
2022-03-06 00:00:00
its raining
2022-03-07 00:00:00
its raining
2022-03-08 00:00:00
2022-03-09 00:00:00
its raining
2022-03-10 00:00:00
2022-03-11 00:00:00
2022-03-12 00:00:00
its raining
2022-03-13 00:00:00
its raining
2022-03-14 00:00:00
2022-03-15 00:00:00
2022-03-16 00:00:00
2022-03-17 00:00:00
its raining
2022-03-18 00:00:00
2022-03-19 00:00:00
its raining
2022-03-20 00:00:00
2022-03-21 00:00:00
2022-03-22 00:00:00
2022-03-23 00:00:00
its raining
2022-03-24 00:00:00
its raining
2022-03-25 00:00:00
its raining
2022-03-26 00:00:00
its raining
2022-03-27 00:00:00
its raining
2022-03-28 00:00:00
2022-03-29 00:00:00
2022-03-30 00:00:00
2022-03-31 00:00:00
its raining
2022-04-01 00:00:00
its raining
2022-04-02 00:00:00
2022-04-03 00:00:00
its raining
2022-04-04 00:00:00
2022-04-05 00:00:00
2022-04-06 00:00:00
its raining
2022-04-07 00:00:00
its raining
2022-04-08 00:00:00
its raining
2022-04-09 00:00:00
its raining
2022-04-10 00:00:00
2022-04-11 00:00:00
2022-04-12 00:00:00
its raining
2022-04-13 00:00:00
2022-04-14 00:00:00
2022-04-15 00:00:00
2022-04-16 00:00:00
its raining
2022-04-17 00:00:00
its raining
2022-04-18 00:00:00
its raining
2022-04-19 00:00:00
its raining
2022-04-20 00:00:00
2022-04-21 00:00:00
2022-04-22 00:00:00
2022-04-23 00:00:00
2022-04-24 00:00:00
2022-04-25 00:00:00
2022-04-26 00:00:00
its raining
2022-04-27 00:00:00
2022-04-28 00:00:00
2022-04-29 00:00:00
2022-04-30 00:00:00
2022-05-01 00:00:00
2022-05-02 00:00:00
its raining
2022-05-03 00:00:00
2022-05-04 00:00:00
its raining
2022-05-05 00:00:00
2022-05-06 00:00:00
its raining
2022-05-07 00:00:00
its raining
2022-05-08 00:00:00
its raining
2022-05-09 00:00:00
2022-05-10 00:00:00
2022-05-11 00:00:00
2022-05-12 00:00:00
2022-05-13 00:00:00
2022-05-14 00:00:00
its raining
2022-05-15 00:00:00
its raining
2022-05-16 00:00:00
its raining
2022-05-17 00:00:00
2022-05-18 00:00:00
2022-05-19 00:00:00
its raining
2022-05-20 00:00:00
its raining
2022-05-21 00:00:00
2022-05-22 00:00:00
2022-05-23 00:00:00
2022-05-24 00:00:00
2022-05-25 00:00:00
2022-05-26 00:00:00
2022-05-27 00:00:00
its raining
2022-05-28 00:00:00
its raining
2022-05-29 00:00:00
2022-05-30 00:00:00
2022-05-31 00:00:00
2022-06-01 00:00:00
2022-06-02 00:00:00
its raining
2022-06-03 00:00:00
its raining
2022-06-04 00:00:00
2022-06-05 00:00:00
2022-06-06 00:00:00
2022-06-07 00:00:00
2022-06-08 00:00:00
its raining
2022-06-09 00:00:00
its raining
2022-06-10 00:00:00
2022-06-11 00:00:00
2022-06-12 00:00:00
its raining
2022-06-13 00:00:00
2022-06-14 00:00:00
2022-06-15 00:00:00
2022-06-16 00:00:00
2022-06-17 00:00:00
2022-06-18 00:00:00
2022-06-19 00:00:00
2022-06-20 00:00:00
2022-06-21 00:00:00
2022-06-22 00:00:00
its raining
2022-06-23 00:00:00
2022-06-24 00:00:00
2022-06-25 00:00:00
2022-06-26 00:00:00
2022-06-27 00:00:00
its raining
2022-06-28 00:00:00
2022-06-29 00:00:00
2022-06-30 00:00:00
2022-07-01 00:00:00
2022-07-02 00:00:00
its raining
2022-07-03 00:00:00
2022-07-04 00:00:00
2022-07-05 00:00:00
its raining
2022-07-06 00:00:00
2022-07-07 00:00:00
2022-07-08 00:00:00
2022-07-09 00:00:00
2022-07-10 00:00:00
2022-07-11 00:00:00
2022-07-12 00:00:00
2022-07-13 00:00:00
2022-07-14 00:00:00
2022-07-15 00:00:00
2022-07-16 00:00:00
its raining
2022-07-17 00:00:00
its raining
2022-07-18 00:00:00
its raining
2022-07-19 00:00:00
2022-07-20 00:00:00
2022-07-21 00:00:00
its raining
2022-07-22 00:00:00
2022-07-23 00:00:00
2022-07-24 00:00:00
2022-07-25 00:00:00
its raining
2022-07-26 00:00:00
2022-07-27 00:00:00
2022-07-28 00:00:00
its raining
2022-07-29 00:00:00
2022-07-30 00:00:00
2022-07-31 00:00:00
2022-08-01 00:00:00
its raining
2022-08-02 00:00:00
2022-08-03 00:00:00
2022-08-04 00:00:00
2022-08-05 00:00:00
2022-08-06 00:00:00
2022-08-07 00:00:00
its raining
2022-08-08 00:00:00
2022-08-09 00:00:00
2022-08-10 00:00:00
2022-08-11 00:00:00
2022-08-12 00:00:00
2022-08-13 00:00:00
2022-08-14 00:00:00
2022-08-15 00:00:00
2022-08-16 00:00:00
2022-08-17 00:00:00
2022-08-18 00:00:00
2022-08-19 00:00:00
2022-08-20 00:00:00
its raining
2022-08-21 00:00:00
2022-08-22 00:00:00
its raining
2022-08-23 00:00:00
its raining
2022-08-24 00:00:00
2022-08-25 00:00:00
2022-08-26 00:00:00
its raining
2022-08-27 00:00:00
2022-08-28 00:00:00
its raining
2022-08-29 00:00:00
2022-08-30 00:00:00
its raining
2022-08-31 00:00:00
its raining
2022-09-01 00:00:00
2022-09-02 00:00:00
2022-09-03 00:00:00
2022-09-04 00:00:00
2022-09-05 00:00:00
its raining
2022-09-06 00:00:00
its raining
2022-09-07 00:00:00
its raining
2022-09-08 00:00:00
2022-09-09 00:00:00
2022-09-10 00:00:00
2022-09-11 00:00:00
its raining
2022-09-12 00:00:00
its raining
2022-09-13 00:00:00
its raining
2022-09-14 00:00:00
2022-09-15 00:00:00
2022-09-16 00:00:00
2022-09-17 00:00:00
2022-09-18 00:00:00
2022-09-19 00:00:00
2022-09-20 00:00:00
2022-09-21 00:00:00
2022-09-22 00:00:00
its raining
2022-09-23 00:00:00
2022-09-24 00:00:00
2022-09-25 00:00:00
its raining
2022-09-26 00:00:00
2022-09-27 00:00:00
2022-09-28 00:00:00
2022-09-29 00:00:00
2022-09-30 00:00:00
2022-10-01 00:00:00
its raining
2022-10-02 00:00:00
its raining
2022-10-03 00:00:00
its raining
2022-10-04 00:00:00
its raining
2022-10-05 00:00:00
its raining
2022-10-06 00:00:00
2022-10-07 00:00:00
2022-10-08 00:00:00
2022-10-09 00:00:00
2022-10-10 00:00:00
2022-10-11 00:00:00
2022-10-12 00:00:00
2022-10-13 00:00:00
its raining
2022-10-14 00:00:00
its raining
2022-10-15 00:00:00
2022-10-16 00:00:00
2022-10-17 00:00:00
its raining
2022-10-18 00:00:00
2022-10-19 00:00:00
2022-10-20 00:00:00
2022-10-21 00:00:00
2022-10-22 00:00:00
2022-10-23 00:00:00
its raining
2022-10-24 00:00:00
its raining
2022-10-25 00:00:00
its raining
2022-10-26 00:00:00
2022-10-27 00:00:00
2022-10-28 00:00:00
2022-10-29 00:00:00
2022-10-30 00:00:00
2022-10-31 00:00:00
its raining
2022-11-01 00:00:00
its raining
2022-11-02 00:00:00
2022-11-03 00:00:00
2022-11-04 00:00:00
2022-11-05 00:00:00
2022-11-06 00:00:00
2022-11-07 00:00:00
2022-11-08 00:00:00
2022-11-09 00:00:00
2022-11-10 00:00:00
2022-11-11 00:00:00
its raining
2022-11-12 00:00:00
its raining
2022-11-13 00:00:00
its raining
2022-11-14 00:00:00
2022-11-15 00:00:00
its raining
2022-11-16 00:00:00
its raining
2022-11-17 00:00:00
2022-11-18 00:00:00
2022-11-19 00:00:00
2022-11-20 00:00:00
2022-11-21 00:00:00
2022-11-22 00:00:00
2022-11-23 00:00:00
2022-11-24 00:00:00
2022-11-25 00:00:00
its raining
2022-11-26 00:00:00
2022-11-27 00:00:00
its raining
2022-11-28 00:00:00
2022-11-29 00:00:00
2022-11-30 00:00:00
its raining
2022-12-01 00:00:00
2022-12-02 00:00:00
2022-12-03 00:00:00
its raining
2022-12-04 00:00:00
2022-12-05 00:00:00
2022-12-06 00:00:00
its raining
2022-12-07 00:00:00
its raining
2022-12-08 00:00:00
2022-12-09 00:00:00
2022-12-10 00:00:00
2022-12-11 00:00:00
its raining
2022-12-12 00:00:00
its raining
2022-12-13 00:00:00
2022-12-14 00:00:00
2022-12-15 00:00:00
its raining
2022-12-16 00:00:00
its raining
2022-12-17 00:00:00
2022-12-18 00:00:00
2022-12-19 00:00:00
2022-12-20 00:00:00
2022-12-21 00:00:00
2022-12-22 00:00:00
its raining
2022-12-23 00:00:00
its raining
2022-12-24 00:00:00
2022-12-25 00:00:00
2022-12-26 00:00:00
2022-12-27 00:00:00
2022-12-28 00:00:00
2022-12-29 00:00:00
2022-12-30 00:00:00
2022-12-31 00:00:00
its raining

In [46]:
print(sum(df_focus['rain']))

12010056

In [47]:
print(df_focus.columns)

Index(['Unnamed: 0', 'trip_distance', 'PULocationID', 'DOLocationID',
       'fare_amount', 'tip_amount', 'total_amount', 'pickup_at', 'dropoff_at',
       'duration', 'rain'],
      dtype='object')

In [43]:
df_focus.to_csv('data/yellow_tripdata_combined_cleaned_focus_weather.csv')